body {
  background-color: #060606;
  color: white;
  border: none;
  display: block;
}

.toolbar {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: start;
    padding-bottom: 10px;
}

button {
  background-color: #5A5F73;
  color: white;
  border: none;
  border-radius: 10px;
  font-style: bold;
  height: 32px;
  width: 64px;
  margin-right: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

#password {
    background-color: #060606;
    border-color: #525F73;
    color: white;
    outline: none;
}

.password {
    margin-top: 5px;
}

label {
  color: white;
}

button:hover {
  background-color: #71768E;
}

button:active {
  background-color: #424552;
  color: #CCC;
}

textarea {
  border-color: #5A5F73;
  background-color: #060606;
  color: #00AA00;
  width: 100%;
  padding :0;
  margin: 0;
  outline: none;
}
